# Preços dos carros da polônia
<p>Site: https://www.kaggle.com/ </p>
<p>Dowload dos dados: https://www.kaggle.com/aleksandrglotov/car-prices-poland/download </p>
<p>Site dos dados: https://www.kaggle.com/aleksandrglotov/car-prices-poland </p>

In [1]:
import pandas as pd
import numpy as np

In [6]:
#Lendo o arquivo csv
df = pd.read_csv("data/Car_Prices_Poland_Kaggle.csv", encoding='utf8', sep=",", index_col=0)
df.head()
df.price = np.int32(df.price)

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900

In [11]:
#Carro com o preço mais alto
df[df.price == df.price.max()]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
61836,mercedes-benz,s-klasa,gen-w222-2013,2017,400,5980,Gasoline,Janki,Mazowieckie,2399900

In [12]:
#Carro com o preço mais baixo
df[df.price == df.price.min()]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
38890,volkswagen,golf-plus,NaN,2007,300567,1598,Gasoline,Lubachowy,Świętokrzyskie,500

In [14]:
#Média dos preços
df.mean()