# Preços dos carros da polônia
<p>Site: https://www.kaggle.com/ </p>
<p>Dowload dos dados: https://www.kaggle.com/aleksandrglotov/car-prices-poland/download </p>
<p>Site dos dados: https://www.kaggle.com/aleksandrglotov/car-prices-poland </p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Lendo o arquivo csv
df = pd.read_csv("data/Car_Prices_Poland_Kaggle.csv", encoding='utf8', sep=",", index_col=0)
df.head()
df.price = np.int32(df.price)

In [3]:
#Carro com o preço mais alto
df[df.price == df.price.max()]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
61836,mercedes-benz,s-klasa,gen-w222-2013,2017,400,5980,Gasoline,Janki,Mazowieckie,2399900

In [4]:
#Carro com o preço mais baixo
df[df.price == df.price.min()]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
38890,volkswagen,golf-plus,NaN,2007,300567,1598,Gasoline,Lubachowy,Świętokrzyskie,500

In [5]:
#Média dos preços
df.price.mean()

70299.88479313474

In [7]:
#maiores preços de dos gol-plus
df[df.price == df[df.model == "golf-plus"].price.max()]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
190,opel,adam,NaN,2014,98317,1398,LPG,Janki,Mazowieckie,36900
217,opel,adam,NaN,2016,54000,999,Gasoline,Pszczyna,Śląskie,36900
222,opel,adam,NaN,2014,98317,1398,LPG,Janki,Mazowieckie,36900
249,opel,adam,NaN,2016,54000,999,Gasoline,Pszczyna,Śląskie,36900
381,opel,antara,NaN,2014,237000,2231,Diesel,Gniezno,Wielkopolskie,36900
...,...,...,...,...,...,...,...,...,...,...
115418,volvo,v60,gen-i-2011-2018,2012,223690,1560,Diesel,Lipówki,Mazowieckie,36900
115421,volvo,v60,gen-i-2011-2018,2011,241000,1984,Diesel,Siedlce,Mazowieckie,36900
115453,volvo,v60,gen-i-2011-2018,2012,214000,1560,Diesel,Bytom,Śląskie,36900
115485,volvo,v60,gen-i-2011-2018,2011,216000,1984,Diesel,Żukowo,Pomorskie,36900
115640,volvo,v70,gen-iii-2007-v70,2008,270000,2521,Gasoline,Zawiercie,Śląskie,36900